configuration {
 modi: "window,drun,ssh,run";
 combi-modi: "window,drun,ssh,run";
 show-icons: true;
}
@theme "custom"
//@theme "/usr/share/rofi/themes/sidebar.rasi"
@theme "/usr/share/rofi/themes/sidebar.rasi"
